.movie-loadmorebtn {
  background: #282828;
  width: 100%;
  min-height: 50px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 20px;
}

.movie-loadmorebtn:hover {
  background: black;
}

.movie-loadmorebtn p {
  font-family: 'Abel', sans-serif;
  font-size:42px;
  padding: 20px;
}